@CHARSET "UTF-8";
.contents{min-height:200px;border: 0; border-radius:0; padding:10px; margin-top:5px;overflow:scroll;}
.agreement{margin:10px 0;}
.agreement_collapse{margin:0;}
.agreement_collapse h3 a.ui-collapsible-heading-toggle.ui-btn {background-color:#999; color: #fff;}
.agreement .ui-checkbox{margin:0;}

div.msgBox{border:1px solid #dadade;}
div.item{background-color: #fff; padding:.6em;}