@CHARSET "UTF-8";

div.example{margin-top:40px;}
div.example > div{margin:8px 0;}
div.example img {width: 100%;}
div.example p{color:#eb6100;}

ul {list-style:none;}

.example_contents h3 a.ui-collapsible-heading-toggle.ui-btn {
    background-color: #999;
    color: #fff;
}
.described {
	font-size: 9pt;
	font-weight: 100;
}
.gray {
	color: gray;
}
.ui-noboxshadow.dev .ui-listview li .ui-btn span{color:#333;}
span.issueIpin{text-decoration: underline;}
div.mn{margin-top:15px;}