@CHARSET "UTF-8";
.formDiv {
	/*display: inline-block;*/
	position:relative;
}

.formDiv.w90 {
	/*width: 90%;*/
}

#search{position:absolute;right:0px;top:-3px}
.ui-input-text.ui-input-has-clear .ui-btn.ui-input-clear{right:35px;}

div.example{margin-top:20px;}
div.example > div{margin:8px 0;}
div.example img {width: 100%;}
div.example p{color:#eb6100;}

ul {list-style:none;}

.example_contents h3 a.ui-collapsible-heading-toggle.ui-btn {
    background-color: #999;
    color: #fff;
}
